html {
    background: url(https://static.vecteezy.com/system/resources/previews/004/968/002/original/cute-abstract-modern-background-free-vector.jpg);
}
h1 {
    font-family: "Lobster","consolas","sans-serif";
    margin-left: 50%;
    font-size: 50px;

}

.fa-instagram {
    color: orangered;
    
}
    
@keyframes mySlide{
    from {margin-left: 100%;}
    to{margin-left: 0%;}

}

#container {
    display: flex;
    align-items: flex-start;
}
#container img {
    margin-left: 20px;
}